/* Añade esto a tu archivo CSS global */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* Color de la thumb */
    border-radius: 9999px; /* Hace que los extremos sean redondos */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #d1d5db; /* Color de la track */
    border-radius: 9999px; /* Hace que los extremos sean redondos */
  }

  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-4px);
    }
    50% {
      transform: translateX(4px);
    }
    75% {
      transform: translateX(-4px);
    }
  }
  
  .shake {
    animation: shake 0.2s ease;
  }